// For mobile
.hero {
    margin-top: 26px;

    @include tablet {
        margin-top: 56px;
        padding-right: 143px;
        padding-left: 143px;
    }

    @include desk {
        margin-top: 46px;
        padding-right: 100px;
        padding-left: 100px;

        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
}


.hero__title {
    @include font (400,34px,1.1,null);
    font-family: 'Libre Baskerville';
    color: $header-text;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize;

    @include tablet {
    @include font (400, 45px, 1.1, null);
    }

    @include desk {
      @include font (400, 57px, 1.1, null);  
      text-align: start;
    }
}

.hero__text {
    @include font (300, 20px, 1.5, null);
    text-align: center;
    color: $body-copy;
    margin-bottom: 24px;

    @include tablet {
        @include font (300, 22px, 1.5, null);
        text-transform: capitalize;
    }

    @include desk {
        @include font (300, 25px, 1.5, null);
        text-transform: capitalize;
        text-align: start;
    }
}

.hero__btn {
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 56px;

    @include desk {
        justify-content: start;
    }
}

.btn__buy {
    margin-left: auto;
    margin-right: 10px;
    display: block;
    padding: 15px 30px;
    @include font (700,14px,1.14,0.15em);
    background-color: $primary;
    color:$light;
    text-transform: uppercase;
    min-width: 168px;

    @include desk {
        margin-left: 0;
    }

}

.btn__learn {
    margin-right:auto;
    display: block;
    padding: 15px 30px;
    @include font (700, 14px, 1.14, 0.15em);
    background-color: $light;
    color: $primary;
    text-transform: uppercase;
    border: 2px solid $primary;

    @include desk {
        margin-right: 0;
    }
}

.hero__img {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
}