.posts {
    padding-top: 48px;
    padding-bottom: 40px;
}

.news {
    @include font (400, 34px, 1.1, null);
    font-family: 'Libre Baskerville';
    color: $header-text;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 20px;
}

.view-all {
    position: relative;
    @include font (700, 14px, 1.14, 0.15em);
    color: $primary;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 36px;

    &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 10%;
        width: 48px;
        border: 1px solid $primary;
        opacity: 0.4;

    }
}

.posts__icon {
    position: absolute;
    top: 50%;
    right: 18%;
    width: 24px;
    height: 24px;
    transform: translate(-50%, -50%);
    opacity: 0.7;
}

.articles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

// .posts__article {

// }

.post__img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.posts__title {
    @include font (400,23px,1.1,null);
    font-family: 'Libre Baskerville';
    color: $primary;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.posts__text {
    @include font(400,16px,1.5,null);
    color: $body-copy;
    text-align: center;
    margin-bottom: 12px;
}

.posts__date {
    @include font(400, 16px, 1.5, null);
    font-style: italic;
    color: $body-copy;
    text-align: center;
}

